/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1A202C;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EDF2F7;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E53E3E;
}
